@{
    ViewData["Title"] = "OlimpikonokWEBApp";
}

<div class="text-center">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Név</th>
				<th>Neme</th>
				<th>Születési dátum</th>
				<th>Sportág</th>
				<th>Érmek száma</th>
				<th>IndexKép</th>
				<th>Módosítás</th>
				<th>Törlés</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Sportolo sportolo in Model)
			{
				string nem = sportolo.Neme ? "férfi" : "nő";
				<tr>
					<td>@sportolo.Nev</td>
					<td>@nem</td>
					<td>@sportolo.SzulDatum</td>
					<td>@sportolo.Sportag</td>
					<td>@sportolo.Ermek</td>
					<td><a asp-area="" asp-controller="Home" asp-action="SportoloKep" asp-route-id="@sportolo.Id"><img src="@Program.ImageConverter(@sportolo.IndexKep)" style="height: 50px;" /></a></td>
					<td><img src="/images/pen.svg" /></td>
					<td><img src="/images/trash.svg" /></td>
				</tr>
			}
		</tbody>
	</table>
</div>                                                
